/* Buttons */

.buttonReset {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  border-radius: .5em;
  padding: 1.125em 1.5em;
  -webkit-appearance: none;
  border: 0;
  box-shadow: 0 1px 4px var(--color-border-dark-primary);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

.button-white {
  background-color: var(--color-white);
  color: var(--color-accent-primary);
}

.buttonReset .button-text,
.buttonReset::before {
  position: relative;
  display: inline-block;
  z-index: 1;
  will-change: opacity, transform;
}

.buttonReset .button-text,
.buttonReset::before {
  transition: none;
}

.buttonReset::before {
  content: attr(data-text);
  position: absolute;
  transform: translate3d(-25%, 0, 0);
  opacity: 0;
  color: var(--color-accent-primary-dark);
}

.buttonReset:hover .button-text,
.buttonReset:hover::before {
  transition: opacity .24s ease, transform .32s ease;
}

.buttonReset:hover .button-text {
  transform: translate3d(25%, 0, 0);
  opacity: 0;
}

.buttonReset:hover::before {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.buttonReset .button-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--color-accent-primary-dark);
  opacity: .04;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 0;
  transition: transform .32s cubic-bezier(.2, 1, .3, 1);
  will-change: transform;
}

.buttonReset:hover .button-overlay {
  transform: scale3d(1, 1, 1);
  transform-origin: 0;
  transition-timing-function: ease;
}

.buttonReset:active {
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, .16);
  transform: translateY(1px);
}

.buttonReset:focus {
  outline: none;
}

.buttonReset.primary {
  background-color: var(--color-accent-primary);
  color: var(--color-text-negative-primary);
  text-shadow: 0 1px 0 var(--color-border-dark-secondary);
}

.buttonReset.primary .button-overlay {
  background: var(--color-accent-primary-dark);
  opacity: 1;
}

.buttonReset.primary:hover::before {
  color: var(--color-text-negative-primary);
}

[disabled] {
  opacity: .5;
  pointer-events: none;
}

@media screen and (min-width: 576px) {
  .buttonReset + .buttonReset {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 575.98px) {
  .buttonReset {
    display: block;
    width: 100%;
    text-align: center;
  }

  .buttonReset + .buttonReset {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}