<footer class="footer">
  <nav class="footer-nav">
    <ul>
      <li class="footerItem">
        <a class="navLink" href="#">¿Por qué Cabify?</a>
      </li>
      <li class="navItem">
        <a class="navLink" href="#">¿Cómo funciona?</a>
      </li>
      <li class="navItem">
        <a class="navLink" href="#">Estimador de tarifas</a>
      </li>
      <li class="navItem">
        <a class="navLink" href="#">Seguridad</a>
      </li>
      <li class="navItem">
        <a class="navLink" href="#">Tipo de vehículos</a>
      </li>
      <li class="navItem">
        <a class="navLink" href="#">Aeropuertos</a>
      </li>
    </ul>
  </nav>
  <div>
    <a class="navLink" href="#">Descargar la app</a>
  </div>
</footer>