@import "../../node_modules/@cabify-dev/theme/styles/utils/global_vars";
@import "../../node_modules/@cabify-dev/theme/styles/utils/vars";
@import "../../node_modules/@cabify-dev/theme/styles/base/reset";
@import "../../node_modules/@cabify-dev/theme/styles/utils/helpers";
@import "../../node_modules/@cabify-dev/theme/styles/layout/grid";
@import "../../node_modules/@cabify-dev/theme/styles/components/button";
@import "../../node_modules/@cabify-dev/theme/styles/components/formField-states";
@import "../../node_modules/@cabify-dev/theme/styles/components/formField-phone";
@import "../../node_modules/@cabify-dev/theme/styles/components/formField";

:root {
  --scalar: 1.250; // 4:5 – major third
  --baseline-grid: 4;

  --font-size-small: calc(1 / var(--scalar) * 1rem);
  --font-size-regular: 1rem;
  --font-size-large: calc(var(--scalar) * 1rem);
  --font-size-x-large: calc(var(--scalar) * var(--scalar) * 1rem);
  --font-size-xx-large: calc(var(--scalar) * var(--scalar) * var(--scalar) * 1rem);
  --font-size-xxx-large: calc(var(--scalar) * var(--scalar) * var(--scalar) * var(--scalar) * 1rem);

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // Primary colors
  --color-base-martinique: 238, 32%, 19%;
  --color-base-white: 100, 100%, 100%;

  --color-moradul: hsl(252, 100%, 66%);
  --color-moradul-light: hsl(254, 100%, 69%);
  --color-moradul-dark: hsl(250, 100%, 62%);

  --color-martinique: hsl(var(--color-base-martinique));
  --color-martinique-light: hsl(238, 31%, 24%);
  --color-martinique-dark: hsl(238, 35%, 14%);

  --color-azura: hsl(213, 91%, 56%);

  // Secondary colors
  --color-pink: hsl(336, 100%, 72%);
  --color-blue-love: hsl(201, 100%, 73%);
  --color-mac-and-cheese: hsl(38, 100%, 64%);
  --color-shamrock: hsl(161, 77%, 81%);

  // Light background colors
  --color-selago: hsl(240, 67%, 99%);
  --color-white: hsl(var(--color-base-white));

  //Setting a default background color
  --background-color: var(--color-selago);

  // Text color
  --color-text-positive-primary: hsl(var(--color-base-martinique));
  --color-text-positive-secondary: hsla(var(--color-base-martinique), .64);
  --color-text-positive-tertiary: hsla(var(--color-base-martinique), .40);

  --color-text-negative-primary: hsl(var(--color-base-white));
  --color-text-negative-secondary: hsla(var(--color-base-white), .72);
  --color-text-negative-tertiary: hsla(var(--color-base-white), .48);

  // UI detail color
  --color-shadow-dark: hsla(var(--color-base-martinique), .24);
  --color-border-dark-primary: hsla(var(--color-base-martinique), .16);
  --color-border-dark-secondary: hsla(var(--color-base-martinique), .08);

  --color-shadow-light: hsla(var(--color-base-white), .24);
  --color-border-light-primary: hsla(var(--color-base-white), .16);
  --color-border-light-secondary: hsla(var(--color-base-white), .08);
}

@font-face {
  font-family: "CabifyCircularWeb";
  src: url(/fonts/CabifyCircularWeb-Book.eot);
  src: url(/fonts/CabifyCircularWeb-Book.eot?#iefix) format("embedded-opentype"),url(/fonts/CabifyCircularWeb-Book.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  -ms-font-feature-settings: "1" 1,"0" 0,"1" 1;
  -o-font-feature-settings: "1" 1,"0" 0,"1" 1;
  font-feature-settings: "1" 1,"0" 0,"1" 1;
}

@font-face {
  font-family: "CabifyCircularWeb";
  src: url(/fonts/CabifyCircularWeb-Bold.eot);
  src: url(/fonts/CabifyCircularWeb-Bold.eot?#iefix) format("embedded-opentype"),url(/fonts/CabifyCircularWeb-Bold.svg) format("svg");
  font-weight: 600;
  font-style: normal;
  -ms-font-feature-settings: "1" 1,"0" 0,"1" 1;
  -o-font-feature-settings: "1" 1,"0" 0,"1" 1;
  font-feature-settings: "1" 1,"0" 0,"1" 1;
}

@font-face {
  font-family: "CabifyCircularWeb";
  src: url(/fonts/CabifyCircularWeb-Light.eot);
  src: url(/fonts/CabifyCircularWeb-Light.eot?#iefix) format("embedded-opentype"),url(/fonts/CabifyCircularWeb-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
  -ms-font-feature-settings: "1" 1,"0" 0,"1" 1;
  -o-font-feature-settings: "1" 1,"0" 0,"1" 1;
  font-feature-settings: "1" 1,"0" 0,"1" 1;
}

* {
  box-sizing: border-box;
  letter-spacing: -.01em;
}

// Themes
.theme-positive {
  --background-color: var(--color-selago);

  --color-accent-primary: var(--color-moradul);
  --color-accent-primary-light: var(--color-moradul-light);
  --color-accent-primary-dark: var(--color-moradul-dark);

  --color-text-primary: var(--color-text-positive-primary);
  --color-text-secondary: var(--color-text-positive-secondary);
  --color-text-tertiary: var(--color-text-positive-tertiary);

  --color-shadow: var(--color-shadow-dark);
  --color-border-primary: var(--color-border-dark-primary);
  --color-border-secondary: var(--color-border-dark-secondary);
}

.theme-negative {
  --color-accent-primary: var(--color-martinique);
  --color-accent-primary-light: var(--color-martinique-light);
  --color-accent-primary-dark: var(--color-martinique-dark);

  --color-text-primary: var(--color-text-negative-primary);
  --color-text-secondary: var(--color-text-negative-secondary);
  --color-text-tertiary: var(--color-text-negative-tertiary);

  --color-shadow: var(--color-shadow-light);
  --color-border-primary: var(--color-border-light-primary);
  --color-border-secondary: var(--color-border-light-secondary);
}

.audience-riders {
  --color-accent-secondary: var(--color-pink);
}

.theme-negative.audience-riders {
  --background-color: var(--color-moradul);
}

.audience-drivers {
  --color-accent-secondary: var(--color-blue-love);
}

.theme-negative.audience-drivers {
  --background-color: var(--color-azura);
}

.audience-business {
  --color-accent-secondary: var(--color-shamrock);
}

.theme-positive.audience-business {
  --background-color: var(--color-martinique);

  --color-accent-primary: var(--color-moradul);
  --color-accent-primary-light: var(--color-moradul-light);
  --color-accent-primary-dark: var(--color-moradul-dark);
}

html {
  font-size: 1rem; // Asuming 16px as the browser initial font size
  height: 100%;
}

body {
  font-family: "Cabify Circular", Circular, "Avenir Next", sans-serif;
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
  background-color: var(--background-color);
  color: var(--color-text-primary);
  margin: auto;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-xxx-large);
  margin: 1.2289em 0 .8193em; //48 x 32 at 16px
  line-height: 1;
}

h2 {
  font-size: var(--font-size-xx-large);
  margin: 1.536em 0 .768em; //48 x 24 at 16px
  line-height: 1.1;
}

h3 {
  font-size: var(--font-size-x-large);
  margin: 1.28em 0 .64em; //32 x 16 at 16px
  line-height: 1.2;
}

h4 {
  font-size: var(--font-size-large);
  margin: 1.6em 0 .8em; //32 x 16 at 16px
  line-height: 1.25;
}

h5 {
  font-size: var(--font-size-regular);
  margin: 1.5em 0 .5em; //24 x 8 at 16px
  line-height: 1.3;
}

h6,
.caption {
  letter-spacing: .02em;
}

.caption {
  display: block;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-tertiary);
}

h1 + p,
.lead {
  font-size: var(--font-size-large);
  margin: 1.5rem 0;
  line-height: 1.35;
}

// p,
// ul, ol {
//   margin: 1rem 0 0;
// }


// ul,
// ul ol,
// ol ol,
// ol ul {
//   margin-top: .25rem;
// }

ul, ol {
  list-style: none;
  padding: 0;
  //padding-left: 1em;
  counter-reset: li;
}

li {
  counter-increment: li;
}

// li + li {
//   margin-top: .25rem;
// }

small {
  font-size: var(--font-size-small);
}

cite, em, i {
  font-style: normal;
}

// blockquote {
//   font-size: var(--font-size-large);
//   line-height: 1.35;
//   border-left: calc(var(--baseline-grid) * 1px) solid var(--color-accent-secondary);
//   padding-left: 1em;
//   margin: 2rem 0;
// }

// blockquote footer {
//   font-size: var(--font-size-regular);
//   display: block;
//   margin-top: 1rem;
// }

// pre, code, kbd {
//   overflow-wrap: break-word; Preventing ultra long stuff to overflow the container
//   overflow-x: auto;
//   font-size: .875em;
//   border-radius: calc(var(--baseline-grid) * 1px);
// }

// pre, code {
//   font-family: "SF Mono", "Source Code Pro", Consolas, Menlo, monospace;
// }

// code {
//   padding: .25em .5em;
//   background-color: var(--color-border-secondary);
//   color: var(--color-text-secondary);
// }

// pre {
//   text-align: left;
//   font-size: 100%;
// }

hr {
  height: 0;
  color: #eee;
  border: 1px solid #eee;
  margin: 2em 0 1em;
}

// .quiet {
//   color: var(--color-text-tertiary);
// }

.buttonReset {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  border-radius: .5em;
  padding: 1.125em 1.5em;
  -webkit-appearance: none;
  border: 0;
  box-shadow: 0 1px 4px var(--color-border-dark-primary);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

.button-white {
  background-color: var(--color-white);
  color: var(--color-accent-primary);
}

.buttonReset .button-text,
.buttonReset::before {
  position: relative;
  display: inline-block;
  z-index: 1;
  will-change: opacity, transform;
}

.buttonReset .button-text,
.buttonReset::before {
  transition: none;
}

.buttonReset::before {
  content: attr(data-text);
  position: absolute;
  transform: translate3d(-25%, 0, 0);
  opacity: 0;
  color: var(--color-accent-primary-dark);
}

.buttonReset:hover .button-text,
.buttonReset:hover::before {
  transition: opacity .24s ease, transform .32s ease;
}

.buttonReset:hover .button-text {
  transform: translate3d(25%, 0, 0);
  opacity: 0;
}

.buttonReset:hover::before {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.buttonReset .button-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--color-accent-primary-dark);
  opacity: .04;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 0;
  transition: transform .32s cubic-bezier(.2, 1, .3, 1);
  will-change: transform;
}

.buttonReset:hover .button-overlay {
  transform: scale3d(1, 1, 1);
  transform-origin: 0;
  transition-timing-function: ease;
}

.buttonReset:active {
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, .16);
  transform: translateY(1px);
}

.buttonReset:focus {
  outline: none;
}

.buttonReset.primary {
  background-color: var(--color-martinique);
  color: var(--color-text-negative-primary);
  text-shadow: 0 1px 0 var(--color-border-dark-secondary);
}

.buttonReset.primary .button-overlay {
  background: var(--color-accent-primary-dark);
  opacity: 1;
}

.buttonReset.primary:hover::before {
  color: var(--color-text-negative-primary);
}

@media screen and (min-width: 576px) {
  .buttonReset + .buttonReset {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 575.98px) {
  .buttonReset {
    display: block;
    width: 100%;
    text-align: center;
  }

  .buttonReset + .buttonReset {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

// footer small {
//   display: block;
// }

[disabled] {
  opacity: .5;
  pointer-events: none;
}

// [data-info] {
//   position: relative;
// }

// .data-info,
// [data-info]::before {
//   font-size: var(--font-size-small);
//   line-height: 1.2;
//   font-weight: var(--font-weight-bold);
//   background-color: var(--color-martinique) !important;
//   color: #fff;
//   padding: 2px 4px;
//   border-radius: 4px;
//   text-transform: lowercase;
//   opacity: 0;
//   transition: opacity .15s linear;
//   will-change: opacity;
// }

// .data-info,
// [data-info].data-visible::before {
//   opacity: .15;
// }

// [data-info]::before {
//   content: attr(data-info);
//   display: block;
//   position: absolute;
//   bottom: .2em;
//   right: 0;
//   z-index: -1;
// }

// .data-info:hover,
// [data-info]:hover::before {
//   opacity: 1;
//   z-index: 0;
// }

// Tablet and above (768px)
// @media screen and (min-width: 48em) {
//    body > .caption {
//     display: block;
//     position: absolute;
//     left: -3rem;
//     top: 3.2rem;
//     text-align: right;
//     transform: rotate(-90deg);
//     color: var(--color-accent-secondary);
//   }
// }

// Below tablet (767.98px)
// @media (max-width: 47.9375em) {
//   body > .caption {
//     display: none;
//   }
// }

.logo {
  display: block;

  svg {
    width: 96px;
    display: block;
    fill: var(--color-white);
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 68.250em;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.250em;
}

.header {
  padding: 2em 0;
  justify-content: space-between;
  font-size: var(--font-size-small);
  flex-wrap: wrap;

  nav li {
    margin-right: 1.875em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.navLink {
  color: hsla(100, 100%, 100%, .72);

  &:active, &:hover {
    color: var(--color-white);
  }
}

.header, nav ul {
  display: flex;
  align-items: center;
}

.buttonHolder {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  margin-bottom: 4.375em;

  h1, p {
    color: var(--color-white);
  }

  @media screen and (min-width: 48em) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.input:focus-within {
  //border-color: #698DFF; this color happens on focus but it's not appreciated because of the background. This style is affected by input:hover of theme.
  border-color: red;
}

.footer {
  padding: 2em 0;
  @media screen and (min-width: 48em) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer-nav {
  flex: 1;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;

  li {
    flex-basis: 50%;
  }

  @media screen and (min-width: 48em) {
    li {
      margin-right: 1.875em;
      flex-basis: auto;
    }
  }
}


// Small devices in landscape and above (576 × 576)
@media screen and (min-width: 36em) and (min-height: 36em) {
  html {
    // Variable font size locking from a 16px minimum size to 20px at 1280px (our new grid size)
    font-size: calc(1em + .3125vmin); // ((20-16)/1280) * 100
  }

  body {
    line-height: 1.5;
  }
}

// Wide screens (1280 × 1024)
@media screen and (min-width: 80em) and (min-height: 64em) {
  :root {
    --scalar: 1.333; // 3:4 – perfect fourth
  }

  html {
    font-size: 1.25rem; // Locking at 20px maximum
  }
}

// Ultra wide screens (1680 × 1080)
@media screen and (min-width: 105em) and (min-height: 67.5em) {
  :root {
    --scalar: 1.414; // 1:√2 – augmented fourth
  }
}
